/* css styles */

.reveal .slide-logo {
  height: 110px !important;
  width: 100px!important;
  max-width: unset !important;
  max-height: unset !important;
}

/*.reveal {
  font-size: 1.8em;
  
}*/

/*********************************************
 * HEADERS
 *********************************************/
/*
.reveal h1 {
	font-size: 1.50em;
}

.reveal h2 {
	font-size:0.5em;
}
*/